*{
  box-sizing: border-box;
  margin: 0;
}
body{
    background-color: rgb(236, 234, 234);
}
.wrapper{
    text-align: center;
    background-color: rgb(236, 234, 234);
    height: 100%;
}
.wrapper_content{
    background-color:rgb(220, 215, 215);
    margin: 0 auto;
    width: 90%;
    padding-top: 45px;
}
.title{
    margin-bottom: 20px;
    letter-spacing: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10vh;
    color:rgb(60, 68, 83, 0.4);
    margin-bottom: 60px;
}
.search_container{
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
form {
    width: 86%;
    display: flex;
    justify-content: center;
}
.searcher{
    margin-left: 5px;
    height: 30px;
    border: none;
    border-radius:2px;
    background-color:rgb(67, 112, 194);
    color: #ffff;
    padding: 0 20px 0 20px;
    text-transform:uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    cursor: pointer;
}
.searcher:hover{
    box-shadow:0px 0px 3px 3px rgb(6, 88, 241);
}
input{
    height: 30px;
    width: 60%;
    border: none;
    border-radius: 2px;
    padding: 10px;
    font-size: 18px;
    color:#282C34;
}
input:focus{
    outline: none;
}
.image_container{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.image_box{
    width:fit-content;
    background-color: rgb(236, 234, 234);
    padding: 5px;
    margin:5px;
}
.image_item{
    width:180px;
    height: 100px;
}
.image_item img{
    width:100px;
    height: 100px;
    cursor: pointer;
}
.image_item img:hover{
    box-shadow:0px 0px 3px 3px rgb(6, 135, 241);
}
.oops{
    margin-top: 40px;
}
.basket_container{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    padding: 15px;
}
.image_basket {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.basket_container button {
    height: 50px;
    border: none;
    border-radius:5px;
    background-color:rgb(127, 180, 176);
    color: #ffff;
    margin: 15px;
    padding: 0 90px 0 90px;
    text-transform:uppercase;
    letter-spacing: 3px;
    font-weight: 900;
    font-size: 18px;
    cursor: pointer;
}
hr{
    width: 97%;
    margin: 0 auto;
    margin-bottom: 10px;
    height: 3px;
    border-radius: 20px;
    background-color:rgb(165, 165, 165);
}
.pics_group_conatiner{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    padding: 10px;
}
.image_query_group{
    margin: 10px;
    border: 2px solid rgb(165, 165, 165);
    border-radius: 5px;
    padding: 5px;
    min-width: 200px;
    min-height: 200px;
}
.image_query_group img {
   
}
.group_name{
    background-color:rgb(236, 234, 234);
    padding: 5px 5px;
    margin-bottom: 5px;
    color: rgb(84, 82, 82);
    font-size:20px;
    font-weight: 800;
    letter-spacing: 1px;
}


